{% extends 'account/base.html' %}

{% block title %}
<title>新規ユーザ登録</title>
{% endblock %}


{% block content %}

<form action="" method="POST">
    {% csrf_token %}

    <div class="signup">
        <div class="px-4 pt-4 pb-3 bg-white rounded">
            {% for field in form %}
            <div class="form-group has-feedback">
    
                <label class="font-bold text-base mb-1" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}

                {% if field.errors %}
                    <div style="color : red">{{ field.errors.0 }}</div>
                {% endif %}
    
            </div>
            {% endfor %}
            
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                <p>{{ error }}</p>
            </div>
            {% endfor %}

            <button type="submit" class="px-4 py-2 bg-black hover:bg-gray-700 text-white mr-2 font-bold text-xs" >Sign Up</button>
            <input type="hidden" name="next" value="{{ next }}" />
            
        </div>

    </div>

</form>



{% endblock %}
